@model Press_Agency_System.Models.Post

@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


    @using Microsoft.AspNet.Identity
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>


    <style>

        .blog
        {
            background: #f9f9f9;

        }
       .blog-item {
            padding: 0px -10px;
            outline: 1px solid #DCDCDC;
            margin: 10px 0px;
            padding-left: 0px;
            padding-right: 0px;
        }

        .blog-content {
        }

        .blog-img {
            position: relative;
            overflow: hidden;
            width: 100%;
        }

            .blog-img img {
                height: 300px;
                width: 100%;

            }
    </style>

    @using (Html.BeginForm("Create", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true)

            <div class="row" style="padding: 40px;">
                <div class="col-sm-4">
                    <img  id="OpenImgUpload" src='~/Content/Posts Images/UploadImage.jpg' id="uploadImage" width="100%" height="300px">
                    <input type="file" id="file" onchange="loadFile(event)" style="display:none" name="UploadedImage" />

                    <div class="inputs" style="padding:16px;">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PostTitle, new { @style = "font-family: Arial, Helvetica, sans-serif" })
                            <div class="">

                                @Html.TextAreaFor(model => model.PostTitle, new { @class = "form-control", @style = "max-width:100%; resize:none", @rows = "2" })
                                @Html.ValidationMessageFor(model => model.PostTitle)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PostType, new { @style = "font-family: Sans-serif;" })
                            <div class="">
                                <select class="form-control" id="dropDownListForCategories" style="max-width:100%;margin-bottom:5px;">
                                    @foreach (var i in ViewBag.PostCategories)
                                    {
                                        <option>@i</option>
                                    }
                                </select>
                                @Html.TextBoxFor(model => model.PostType, new { @class = "form-control", @style = "max-width:100%; display:none;", @id = "textboxforcategory" })
                                @Html.ValidationMessageFor(model => model.PostType)
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.PostBody, new { @class = "form-control", @id = "PostBody", @style = "min-height:600px" })
                            @Html.ValidationMessageFor(model => model.PostBody)
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="form-group">
            <div class="col-md-4" style="text-align:center">
                <input type="submit" value="Save" class="btn btn-success" id="btnSubmit" style="width:40%" />
            </div>
        </div>

    }


    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
@Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/sweatlert.js"></script>
        <script src="~/Scripts/CreateAndEditPosts.js"></script>

      
    }
