@using Press_Agency_System.Models;
@model  IEnumerable<Post>
@{
    ViewBag.Title = "Moderation";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Moderation</h2>
<div>
    @if(Model.Count()==0)
     {
                <h3>There are no posts yet</h3>
     }
    else
    {
        <table class="table table-striped">
            <thead style="background-color: #2f2c2c;color: white;">
                <tr>
                    <th scope="col">
                        User Name
                    </th>
                    <th scope="col">
                        Post Title
                    </th>
                    <th scope="col">
                        Post Date
                    </th>
                    <th scope="col">
                        Post Category
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                    <tr>
                        <td>@i.User.UserName</td>
                        <td>@Html.ActionLink(i.PostTitle,"Details",new { i.Id })</td>
                        <td>@i.PostDate</td>
                        <td>@i.PostType</td>
                        <td>@Html.ActionLink("Accept", "ModerationAccept", new { id=i.Id },new { @class="btn btn-success" })  @Html.ActionLink("Reject", "ModerationReject", new { id=i.Id }, new { @class = "btn btn-danger" })</td>
                    </tr>
                }


            </tbody>
        </table>
    }
     
</div>