@model Press_Agency_System.Models.ApplicationUser
@{
    ViewBag.Title = "Delete";
}
<link href="~/Content/Users.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="container">
    <div> <h2>@Html.ActionLink("Back to page", "Index")</h2></div>
    <div class="row">
        <div class="col-md-4"> </div>
        <div class="col-md-4">
            <div class="card user-card">

                <div class="card-block">
                    <div class="user-image">
                        <img src="~/Content/Persons Images/defaultuserphoto.jpg" class="img-radius" alt="User-Profile-Image">
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)
                        <h6 class="f-w-600 m-t-25 m-b-10 ">FirstName:</h6>
                        <div>
                            @Html.EditorFor(m => m.LastName)
                            @Html.ValidationMessageFor(m => m.FirstName)
                        </div>

                        <hr>
                        <h6 class="f-w-600 m-t-25 m-b-10 ">LastName:</h6>
                        <div>
                            @Html.EditorFor(m => m.LastName)
                            @Html.ValidationMessageFor(m => m.LastName)
                        </div>
                        <hr>
                        <h6 class="f-w-600 m-t-25 m-b-10 ">E-mail:</h6>
                        <div>
                            @Html.EditorFor(m => m.Email)
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        <hr>
                        <h6 class="f-w-600 m-t-25 m-b-10 ">Phone:</h6>
                        <div>
                            @Html.EditorFor(m => m.Phone)
                            @Html.ValidationMessageFor(m => m.Phone)
                        </div>

                        <hr>
                        <h6 class="f-w-600 m-t-25 m-b-10 ">UserName:</h6>
                        <div>
                            @Html.EditorFor(m => m.UserName)
                            @Html.ValidationMessageFor(m => m.UserName)

                        </div>

                        <hr>

                        @*<h6 class="f-w-600 m-t-25 m-b-10">RoleOfUser:</h6>
                            <div>
                                @Html.EditorFor(m => m.roleType.Name)
                                @Html.ValidationMessageFor(m => m.roleType)

                            </div>
                            <hr>*@

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" />
                        </div>




                    }
                </div>
            </div>
        </div>
        <div class="col-md-4"> </div>
    </div>
</div>



