<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/footer-style.css" />
    <link rel="stylesheet" href="~/Content/searchbar-style.css" />
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">-->
    <title>@ViewBag.Title - Press Agency</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Press Agency", "Index", "Home", null, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">

                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Saved Posts", "SavedPosts", "Post", null, new { @class = "navbar-brand", @style = "font-size:small;" })
                }


                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @if (!Request.IsAuthenticated)
    {
        <div class="loginpart">
            @Html.Partial("_hamada")

        </div>
        <div class="registerpart">
            @Html.Partial("_hamadaReg")
        </div>
    }






    <div class="container body-content">

        @RenderBody()
        <hr />
    </div>

    <!-- Footer -->
    <footer class="footer-bs" style="position:absolute;">
        <div class="row">
            <div class="col-md-3 footer-brand animated fadeInLeft">
                <h2>Press Agency System</h2>
                @*<p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>*@
                <p>This is a website to show news made by the editors the vision is to show all latest news and the latest happenings that are done in the world around us, the website would love all the feedback possible through the comments to our editors.</p>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </div>
            <div class="col-md-4 footer-nav animated fadeInUp">
                <h4>Menu —</h4>
                <div class="col-md-6">
                    <ul class="pages">
                        <li><a href="#">Travel</a></li>
                        <li><a href="#">Nature</a></li>
                        <li><a href="#">Explores</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Advice</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 footer-social animated fadeInDown">
                <h4>Follow Us</h4>
                <ul>
                    <li><i class="fab fa-facebook-f"></i><a href="#"> Facebook</a></li>
                    <li><i class="fab fa-twitter"></i><a href="#"> Twitter</a></li>
                    <li><i class="fab fa-instagram"></i><a href="#"> Instagram</a></li>
                    <li><i class="fab fa-rss"></i><a href="#"> RSS</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-ns animated fadeInRight">
                <h4>Newsletter</h4>
                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                <p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                        </span>
                    </div><!-- /input-group -->
                </p>
            </div>
        </div>
        <center><p>&copy; @DateTime.Now.Year - 5M Team</p></center>
    </footer>
    <!-- Footer -->



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/LoginAndRegstier.js"></script>
</body>
</html>
